{% extends "CELiceoParaisoBundle::administration_view.html.twig" %}

{% block menu %}
    <li class="active">
        <a href="#">
            <i class="ti-panel"></i>
            <p>Coordinación</p>
        </a>
    </li>
    <li>
        <a href="user.html">
            <i class="ti-user"></i>
            <p>Personal</p>
        </a>
    </li>
    <li>
        <a href="table.html">
            <i class="ti-view-list-alt"></i>
            <p>Documentos</p>
        </a>
    </li>
    <li>
        <a href="table.html">
            <i class="ti-view-list-alt"></i>
            <p>Perfil</p>
        </a>
    </li>
{% endblock %}