{% extends "CELiceoParaisoBundle::administration_view.html.twig" %}

{% block menu %}
    <li class="active">
        <a href="#">
            <i class="ti-panel"></i>
            <p>Departamentos</p>
        </a>
    </li>
    <li>
        <a href="table.html">
            <i class="ti-view-list-alt"></i>
            <p>Personal</p>
        </a>
    </li>
    <li>
        <a href="typography.html">
            <i class="ti-text"></i>
            <p>Servicios</p>
        </a>
    </li>
    <li>
        <a href="icons.html">
            <i class="ti-pencil-alt2"></i>
            <p>Perfil</p>
        </a>
    </li>
{% endblock %}
